.App {
  text-align: center;
  height: 1200px;
  width: 100%;
  background-color: #e3e0e0;
  padding-top: 100px;
  font-family: monospace;
  color: rgb(0, 0, 0);
}

.App h1 {
  font-size: 40px;
}

.App h2 {
  font-size: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
  height: 400px;
}